<h1>Hello World from EJS.</h1>

<p>I\'m Courtney</p>

<li>I be <%= myTypeClient %>, good at musicianship, bad at socializing </li>

    <footer>sent from a file on my node server</footer>

    <a href="/send">send</a> |

    <a href="https://github.com/cj89112/crispy-lamp-mike/tree/" target="_blank">Source Code</a>